.btn {
  padding: 1.5rem 3rem;
  background-image: linear-gradient(to bottom right, #9be15d 0%, #00e3ae 100%);
  cursor: pointer;
  border: none;
  box-shadow: 0 0.2rem 0.5rem #ddd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  color: #fff;
  display: inline-block;
  // width: 150px;

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    transform: translateY(3px);
  }

  &--login {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-image: linear-gradient(
      to bottom right,
      #9be15d 0%,
      #00e3ae 100%
    );

    cursor: pointer;
    margin-left: 0.5rem;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid #ccc;
      box-shadow: 0 0.3rem 0.5rem #ddd;
    }
  }

  &--comment {
    padding: 1rem 2rem;
    // width: 150px;
    margin-top: -1rem;
    position: absolute;
    right: 0;
  }

  &--logout {
    width: 150px;
    margin-top: 1rem;
  }
}

.btn-form__button--save {
  position: absolute;
  right: 0;
}
